html {
  font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif!important;
}
body {
  margin: 0px;
}
h1, h2, h3, h4, h5 {
  font-weight: 400;
  margin: 0px;
}
p {
  margin: 10px 0px;
}
pre {
  background-color: #e4e4e4;
  border-radius: 3px;
  padding: 20px 4px;
  margin: 0px;
}
.controls {
  padding: 10px 0px;
}
.control {
  padding: 8px 5px;
}
.hourInput {
  width: 85px;
}
.dayInput {
  width: 95px;
}
.rowNumInput {
  width: 68px;
}
.polyNodeInput {
  width: 100%;
  resize: vertical;
}
.left-pane {
  width: 20%;
  height: 100%;
  position: relative;
  float: left;
  overflow: auto;
  background-color: #f8f8f9;
  box-shadow: gray 1px 0px 10px;
}
.left-pane-contents {
  padding: 0px 20px;
}
.right-pane {
  width: 80%;
  height: 100%;
  position: relative;
  float: right;
}
.button {
  padding: 3px 5px;
  margin: 3px 0px;
  margin-right: 3px;
  border-radius: 3px;
  border: 1px solid #e4e4e4;
  background-color: #e4e4e4;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s ease;
}
.button:hover {
  border: 1px solid black;
}
.button-selected {
  background-color: #a5a5a5;
  color: white;
  border-color: #a5a5a5
}
.resetBtn {
  margin: -3px 0px;
  float: right;
}
.heatMapCheck {
  margin-right: 3px;
}
.heatMapLabel {
  padding-right: 6px;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
